@import '~vue-foldable/dist/vue-foldable.css'
@import '~@vue-foldable/csdn/dist/csdn.css'

.transition-demo {
  .vue-foldable-container {
    transition: max-height 0.3s;
  }

  .vue-foldable-mask {
    transition: opacity 3s;
  }
}
