.vue-foldable
  .vue-foldable-container
    overflow hidden
  .foldable-view-more
    position relative
    top -80px
    text-align center
    height 50px
    cursor pointer
    .view-more-mask
      opacity 0
      height 80px
      background linear-gradient(to bottom, rgba(55, 55, 55, 0), white)
      &.show-mask
        opacity 1
    .view-more-text
      color #4dba87
    .view-more-icon
      width 18px
      transform scaleY(1)
      &.collapsed
        transform scaleY(-1)
