.vue-foldable
  position relative

  .vue-foldable-container
    overflow hidden

  .vue-foldable-mask
    position absolute
    bottom 30px /* view-more's height */
    height 80px
    width 100%
    background transparent
    pointer-events none
    &.collapsed
      opacity 1
      background linear-gradient(to bottom, rgba(55, 55, 55, 0), white)
    &:not(.collapsed)
      opacity 0

  .vue-foldable-view-more
    width 100%
    text-align center
    height 30px
    line-height 30px
    cursor pointer
    color #4dba87
    .vue-foldable-icon
      width 18px
      transform scaleY(1)
    &.collapsed
      .vue-foldable-icon
        transform scaleY(-1)


.transition-demo {
  .vue-foldable-container {
    transition: max-height 0.3s;
  }

  .vue-foldable-mask {
    transition: opacity 3s;
  }
}
